/* -------------------- Scroll Bar --------------------*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #6e6e6e75;
    border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #00000075;
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22add4, #1e98ba);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

/* -------------------- Gerais --------------------*/

#cpnalg {
    color: #007cc6;
}

ul {
    list-style-type: none;
}

.row {
    min-height: 610px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.tracado {
    border: 0.7px solid #bbbbbbd7;
    border-style: dotted;
    margin: 1.3px;
}

.list-group-item {
    width: 80%;
    padding: 10px;
    margin-top: 4px;
    color: white;
    background-color: #007cc6;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item:hover {
    background-color: #005d92;
}

.area {
    width: 100%;
    height: 610px;
    padding: 10px;
    display: block;
    position: relative;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.componente {
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    box-shadow: 7px 7px 5px rgba(190, 190, 190, 0.76);
}

#ul-dicas {
    list-style-type: circle;
    width: 310px;
}

/* -------------------- Variaveis "Declare" --------------------*/
.componente-variavel-ul {
    margin: auto;
    width: 80%;
}

.componente-variavel-li {
    border: 0.7px solid #007cc6;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 6px;
}

/* -------------------- Atribuição --------------------*/

.atribuicao {
    display: none;
}

/* -------------------- Se --------------------*/

.relacionais {
    color: #007cc6;
    text-align: center;
}


.area-se {
    width: 80%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: auto;
    border: 0.7px solid #007cc6;
}

.btn-fim-se {
    margin-top: 0;
}

/* -------------------- Simular --------------------*/

h3 {
    text-align: center;
}

code span {
    display: flex;
    padding-bottom: 0;
    padding-left: 25px;
    color: #007cc6;
}

.comentario {
    margin-top: 10px;
    color: #29b100;
}

.identeSe {
    padding-left: 45px;
}

.fimse {
    padding-left: 0;
}

/* -------------------- Petris --------------------*/

@media (min-width: 576px) {
    #modalRede .modal-dialog {
        max-width: none;
    }
}

#modalRede .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#modalRede .modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
}

.petris-modal {
    margin-top: 0;
}