.introjs-helperLayer {
    position: absolute;
    z-index: 9999998;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.introjs-hint-dot {
    box-sizing: content-box;
    border: 10px solid rgba(146, 146, 146, 0.36);
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: introjspulse 3s ease-out;
    -moz-animation: introjspulse 3s ease-out;
    animation: introjspulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    opacity: 0;
}

.introjs-hint-pulse {
    display: none !important;
}

.introjs-hint {
    box-sizing: content-box;
    position: absolute;
    background: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url('https://img.icons8.com/offices/30/000000/help.png');
    background-repeat: no-repeat;
}

.introjs-tooltip {
    letter-spacing: .1em;
    font-family: tahoma, Arial, verdana, sans-serif;
    border-radius: 2px;
}

.introjs-button {
    padding: 0.6em 0.8em;
    text-shadow: none;
    font-weight: bold;
    color: #343a40;
    font-family: tahoma, Arial, verdana, sans-serif;
    background: #ecf0f1;
    background-image: none;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    -webkit-transition: background .3s, border .3s;
    -moz-transition: background .3s, border .3s;
    -ms-transition: background .3s, border .3s;
    -o-transition: background .3s, border .3s;
    transition: background .3s, border .3s;
}

.introjs-prevbutton {
    border-radius: .2em 0 0 .2em;
}

.introjs-nextbutton {
    border-radius: 0 .2em .2em 0;
}

.introjs-prevbutton:hover,
.introjs-nextbutton:hover,
.introjs-skipbutton:hover,
.introjs-button:focus {
    background: #343a40;
    color: #fff;
    box-shadow: none;
    border-color: #343a40;
    text-decoration: none;
}